<a href="https://colab.research.google.com/github/maronga/Moringa-Wk-4-IP-Submission/blob/main/%22Moringa_Data_Science_Prep_W4_Independent_Python_Project_2021_11_05_John_Maronga_Python_Data_Analysis_Notebook%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Python for Data Analysis

## 1. Importing our Libraries

In [1]:
# Let's first import the pandas library. 
# We will use this library to perform analysis and manipulation.
# ---
# Hint: pandas as pd
# ---
#
import pandas as pd

In [2]:
# Let's import the numpy library for performing scientific computations.
# ---
# Hint i.e. numpy as np
# ---
# 
import numpy as np

## 2. Loading Datasets

### <font color="green">Challenges</font>

In [3]:

# Question: Create and print a dataframe from a CSV file given the URL below.
# ---

df=pd.read_csv('http://bit.ly/autolib_dataset')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

## 3. Understanding the data

### Examples

In [4]:

# Shape returns no. or records/instances and columns/variables
#
df.shape

(5000, 25)

In [5]:

# Previewing the first few records of the dataframe
# NB: head() will give us the first five instances.
# You can also specify the no. of desired records by passing 
# a no. into the function i.e. head(3).
# ---
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [6]:

# Checking the bottom of the df dataframe 
# NB: tail() gives us the last 5 records
# ---
df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [14]:
df.sample()

                    Address  Cars  Bluecar counter  ...  day  hour  minute
4799  79 rue AndrÃ© Joineau     6                6  ...    1    18      20

[1 rows x 25 columns]

In [9]:

# Checking the datatypes of our columns
# ---
# float64 - floating point no.
# object - strings are store as objects
# ---
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [10]:
#Check for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [13]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [21]:
df["month"].sample(50)

1433    4
3896    4
984     4
589     4
1551    4
548     4
1835    4
1445    4
4006    4
3986    4
4786    4
3733    4
1064    4
213     4
2464    4
4264    4
3443    4
4224    4
3931    4
4429    4
2669    4
1248    4
1982    4
1603    4
1342    4
4133    4
402     4
4470    4
1184    4
1517    4
3225    4
1295    4
4531    4
1949    4
1936    4
3987    4
3765    4
892     4
3041    4
131     4
981     4
2706    4
1612    4
1180    4
1219    4
1674    4
2228    4
3084    4
2710    4
4665    4
Name: month, dtype: int64

## 4. Data Cleaning

In [24]:
#We'll first drop the cars column because it's redundant with the bluecar column
#same with the month and year because the dataset is of the same period(month 
#and year)
#
#df.drop(['Cars', 'month','year'], axis = 1, inplace = True) 
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 22 columns]

In [31]:
df['Subscription status'].tail(60)

4940    nonexistent
4941    nonexistent
4942    nonexistent
4943    nonexistent
4944    nonexistent
4945    nonexistent
4946    nonexistent
4947    nonexistent
4948    nonexistent
4949    nonexistent
4950    nonexistent
4951    nonexistent
4952    nonexistent
4953    operational
4954    nonexistent
4955    nonexistent
4956    nonexistent
4957    nonexistent
4958    nonexistent
4959    nonexistent
4960    nonexistent
4961    nonexistent
4962    nonexistent
4963    nonexistent
4964    nonexistent
4965    nonexistent
4966    nonexistent
4967    nonexistent
4968         broken
4969    nonexistent
4970    nonexistent
4971    nonexistent
4972    nonexistent
4973    operational
4974    nonexistent
4975    nonexistent
4976    nonexistent
4977    nonexistent
4978    nonexistent
4979    nonexistent
4980    nonexistent
4981    nonexistent
4982    nonexistent
4983    nonexistent
4984    operational
4985    nonexistent
4986    nonexistent
4987    nonexistent
4988    nonexistent
4989    nonexistent
4990    nonexistent
4991    nonexistent
4992    nonexistent
4993    nonexistent
4994    nonexistent
4995    nonexistent
4996    nonexistent
4997    nonexistent
4998    nonexistent
4999    nonexistent
Name: Subscription status, dtype: object

## 5. Filtering and Sorting

### Examples and <font color="green">Challenges</font>

In [ ]:
# Example 4a
# ---
# Question: Filtering records when columns contain certain values
# ---
# NB: Filtering records where petal_length is 5.0 
# ---
# YOUR CODE GOES BELOW
#  

# Previewing the first 5 records
iris_df.head()

In [ ]:
# Filtering the records where column has certain values 
# ---
#
iris_df[iris_df.petal_length.isin(['5.0'])]

In [ ]:
# Challenge 4a
# ---
# Question: From the given dataset, find observations with outlets established in 2002.
# ---
# Dataset URL = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 4b
# ---
# Question: Select records where column doesn't have certain values 
# in our case, where petal_leghth is not 5.0. We use the "~" to specify this.
# ---
# YOUR CODE GOES BELOW
# 
iris_df[~iris_df.petal_length.isin(['5.0'])]

In [ ]:
# Challenge 4b
# ---
# Question: Select all the Dairy observations from the given dataset.
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 4c
# ---
# Question: Filter records where petal_width greater than 1.8
# ---
# YOUR CODE GOES BELOW
# 
iris_df[(iris_df['petal_width'] > 1.8)]

In [ ]:
# Challenge 4c
# ---
# Question: Which observations had items outlet sales greater than 2000?
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Example 5d
# ---
# We can also use the query method to get data where petal_width is equal to 1.0.
# ---
# Once you run this cell, replace the equals operator == to with less than < 
# or greater than > operators to see their applications as well.
# ---
# The parameter inplace makes changes in the original dataframe if True.
# We should also note the query method works if the column name doesn’t have any empty spaces.
# Hence the need replace blank spaces in our column names with '_'
# ---
#  iris_df.columns = iris_df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
#iris_df.columns


# Let's filter our data
#
iris_df.query('petal_width == 1.9', inplace = True) 

# Previewing our dataset 
iris_df.head()

In [ ]:
# We can also perform multiple condition filtering as shown below
# ---
#

iris_df.query('sepal_width == 2.7 and petal_length == 5.1', inplace = True) 

# Previewing our dataset 
iris_df.head()

In [ ]:
# We can also get the same result as shown below 
# ---
# We use the '&' operator
# ---
#
iris_df[(iris_df.sepal_length == 5.8) & (iris_df.petal_length == 5.1)]

# Previewing our dataset 
iris_df.head()

In [ ]:
# Challenge 5d
# ---
# Question: Which observations had items outlet sales greater than 2000 and less than 3000?
# ---
# Dataset url = https://bit.ly/ShoprityDS
# ---
# 
df=pd.read_csv('https://bit.ly/ShoprityDS')
df.head()

In [ ]:
df.query('Item_Outlet_Sales >2000 and Item_Outlet_Sales <3000', inplace = True) 
df.head()

In [ ]:
df.columns

## 5. Aggregate Functions

### Examples

In [ ]:
# Loading and previewing the dataset we will use.
# ---
#
ebola_df = pd.read_csv('https://bit.ly/2T60DKG')
ebola_df.head()

In [ ]:
# Checking the size of Liberia varaible.
# ---
# Dataset URL = https://bit.ly/2T60DKG
# ---
# YOUR CODE GOES BELOW
# 
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.head

In [ ]:
ebola_df.Country.unique()

In [ ]:
# Example 1
# ---
# Count() Function
# ---
# How many values do we have accoss our variables in our ebola dataset?
# ---
#
liberia_records = ebola_df[ebola_df.Country.isin(['Liberia'])]
liberia_records.count()

In [ ]:
# Example 2
# ---
# Unique Occurrences
# ---
# Were all records in our ebola dataset unique?
# ---
# 
ebola_df[ebola_df.duplicated()].sum()

# Yes, there were no duplicate records

In [ ]:
ebola_df.duplicated().sum()

In [ ]:
# Example 3
# ---
# Sum
# ---
# How many ebola cases in Sierra Leone were reported given the ebola dataset?
# ---
# 
sierra_cases_sum = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].sum() 
sierra_cases_sum

In [ ]:
# Example 4
# ---
# Minimum
# ---
# Which record had the least no of ebola cases?
# ---
# 
least_cases = ebola_df.min()
least_cases

In [ ]:
# Example 5
# ---
# Maximum
# ---
# Which record had the highest no of ebola cases?
# ---
# 
highest_cases = ebola_df.max()
highest_cases

In [ ]:
# Example 6
# ---
# Mean
# ---
# What was the average number of ebola cases in Sierra Leone?
# ---
# 
sierra_cases_avg = ebola_df[ebola_df.Country.isin(['Sierra Leone'])][['Value']].mean() 
sierra_cases_avg

In [ ]:
# Example 7
# ---
# Mode
# ---
# Which country had the most records in the Ebola dataset? 
# ---
# 
frequent_values_df = ebola_df['Country'].mode() 
frequent_values_df

In [ ]:
# Example 8
# ---
# Median
# ---
# The median value of the Ebola cases.
# ---
# 
median_values_df = ebola_df['Value'].median() 
median_values_df

In [ ]:
# Example 9
# ---
# Summary Statistics
# ---
# Create a descriptive statistics table of the given ebola dataset.
# ---
# 
ebola_df.describe()

### <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# How many records can be found in the following insurance dataset?
# ---
# Insurance Dataset url = https://bit.ly/2y5CRYc
# ---
# This dataset contains anonymised patient data.
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 2
# ---
# Are there any duplicates in the insurance dataset?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 3
# ---
# Which regions did the patients come from?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 4
# ---
# What was the highest bmi recorded for patients from northwest and southwest regions?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 5
# ---
# What was the youngest age of a patient?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 6
# ---
# What was the average bmi recorded for patients above 50 years old?
# ---
# YOUR CODE GOES BELOW
#

In [ ]:
# Challenge 7
# ---
# How much was spent collectively by male and female patients?
# ---
# YOUR CODE GOES BELOW
#

## 6. Pivot Tables

### Examples

In [ ]:
# Loading and previewing the dataset that we will use
# ---
#
insurance_df = pd.read_csv('https://bit.ly/2y5CRYc')
insurance_df.head()

In [ ]:
# Example 1
# ---
# A pivot table is a summary table and comprises of 
# outcomes similar to the group by tables.
# --- 
# We will start working with pivot tables by getting one column 
# and applying an aggregate function as shown below
# ---
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc='mean')

In [ ]:
# Example 2
# ---
# Getting the first entry for each gender.
# NB: You can get the last one too using last().
# In addition, note the that the columns have been arranged alphabetically.
# ---
# 
pd.pivot_table(insurance_df, index=['sex'], aggfunc='first')

In [ ]:
# Example 3
# ---
# We can group a single column by another column then apply an aggregate function as shown
# ---
# We will use numpy to compute the mean
#
pd.pivot_table(insurance_df, index=['sex'], aggfunc={'expenses': np.mean})

In [ ]:
# Example 4
# ---
# Grouping region by another column i.e. bmi, applying an aggregate function
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'bmi': np.mean})

In [ ]:
# Example 5
# ---
# Using a pivote table, we can also create a summary statistical table as shown below
# ---
#
pd.pivot_table(insurance_df, index=['region'], aggfunc={'expenses': 'describe'})

In [ ]:
# Example 6
# ---
# Getting the no. of children in each region
# ---
#  
# 
pd.pivot_table(insurance_df, index=['region'], aggfunc={'children': sum})

In [ ]:
# Example 6
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': [min, max, sum]})

In [ ]:
# Example 7
# ---
# Applying multiple aggregate functions to a group
# ---
# 
pd.pivot_table(insurance_df, index=['region', 'sex'], aggfunc={'expenses': sum})

### <font color="green">Challenges</font>

The challenges in this section will be same as the ones group by challenges. Compare your solutions with the ones you got in the previous section.

In [ ]:
# You will use the supermarket dataset you previously used. 
# ---
# The dataset contains customer invoice data.
# ---
# Dataset url = https://bit.ly/SuperMarketSalesDB
# ---
#

In [ ]:
# Challenge 1
# ---
# Question: What was the average tax per city?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 2
# ---
# Question: How much did female members from the city of Yagon spend?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 3
# ---
# Question: How much was spent across all cities?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 4
# ---
# Question: What was the sum of goods sold across all branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 5
# ---
# Question: Which branches collected the most amount of money? 
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 6
# ---
# Question: Which were the top rated branches?
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 7
# ---
# Question: Make a comparison between non-members who made cash payments and credit card payments.
# ---
# OUR CODE GOES BELOW 
#

In [ ]:
# Challenge 8
# ---
# Question: Show the products line that sold the most indicating the rating.
# ---
# OUR CODE GOES BELOW 
#